﻿
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>404 - Not Found</h2>
    <h3>Sorry the page you are looking for is not found</h3>
</div>

