﻿@using System.Text
@using System.Web.Razor.Parser.SyntaxTree
@using System.Web.UI.WebControls.WebParts
@using NHibernate.Util
@model Turner.Titles.Model.Title

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var count = 0;

    var participants = new StringBuilder();

    foreach (var participant in Model.Participants.Where(x => x.Type == "Person"))
    {
        participants.Append(string.Format(" {0},", participant.Name));
    }

    var awards = Model.Awards.GroupBy(award => award.Company, award => string.Format("{0} ({1})", award.Name, award.Year), (key, group) => new { company = key, name = group.Aggregate((current, next) => current + ", " + next) });
}

<div>
    <div class="page-header">
        <h2>@Model.Name <span style="font-size: 18px; color: cadetblue;">(@Model.ReleaseYear)</span> </h2>
        <div>
            <h4>
                @foreach (var genre in Model.Genres)
                {
                    <span class="label-default label">@genre.Name</span>
                }
            </h4>
        </div>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#awards" role="tab" data-toggle="tab">Awards</a></li>
        <li><a href="#participants" role="tab" data-toggle="tab">Participants</a></li>
        <li><a href="#plot" role="tab" data-toggle="tab">Plot</a></li>
    </ul>

    <div class="tab-content">
        <div id="participants" class="tab-pane fade">
            <p style="margin-top: 15px;">
                @participants.ToString().TrimEnd(new[] { ',' });
            </p>
        </div>


        <div id="awards" class="tab-pane fade active in">

            @foreach (var award in awards)
            {
                <p style="margin-top: 15px;">
                    <strong>@award.company: </strong><small>@award.name</small>
                </p>
            }

        </div>



        <div class="tab-pane fade" id="plot">

            @foreach (var story in Model.StoryLines)
            {
                var id = "collapse" + count;

                <div id="accordion" class="panel-group">
                    <a data-toggle="collapse" data-parent="#accordion" href="#@id">
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    @story.Type
                                </h4>
                            </div>
                        </div>
                    </a>

                    <div id="@id" class="panel-collapse collapse">

                        <div class="panel-body">

                            <p>@story.Description</p>

                        </div>

                    </div>

                </div>

                count++;
            }

        </div>
    </div>
</div>

