﻿
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>Titles</h1>
</div>

<div class="input-group">
    <input type="text" class="form-control pull-right" id="search"  autocomplete="off" data-provide="typeahead" placeholder="Search for your favorite Titles" />
    <div class="input-group-btn">
        <button class="btn btn-default pull-right" id="btnSearch" type="button"><i class="glyphicon glyphicon-search"></i></button>
    </div>
 </div>
<div style="padding-top: 20px;"></div>

<div id="resultPanel" class="panel panel-default" style="display: none;">
    <div class="panel-heading"></div>
    <table id="result" class="table">
        <tr>
            <th>Title</th>
            <th>Release Year</th>
            <th>Genre</th>
        </tr>
    </table>
</div>

<div class="alert alert-warning" style="display: none;" role="alert" id="noresultPanel">
    No results found for your search criteria!
</div>

@section scripts
{
    <script type="text/javascript">
        $(function() {

            $(document).on("click", "#result tr", function() {
                window.location.href = "@Url.Action("Details")" + "/" + $(this).attr("data-id");
            });

            $(document).on("click", "#btnSearch", function() {
                if ($("#search").val() == "") {
                    $("#search").addClass("error");
                    return;
                } else {
                    $("#search").removeClass("error");
                }

                $.get('@Url.Action("Search")', { query: encodeURI($("#search").val()) }, function(data) {
                    if (data.length > 0) {
                        $("#resultPanel").show();
                        $("#noresultPanel").hide();
                        for (var rowCount = 0; rowCount < data.length; rowCount++) {
                            var rowData = data[rowCount];

                            var row = $("<tr data-id='" + rowData.Id + "' />");
                            $("#result").append(row);
                            row.append($("<td>" + rowData.Name + "</td>"));
                            row.append($("<td>" + rowData.ReleaseYear + "</td>"));
                            row.append($("<td>Genre</td>"));
                            
                        }
                    } else {
                        $("#resultPanel").hide();
                        $("#noresultPanel").show();
                    }
                });
            });


            $("#search").typeahead({
                    minLength: 2
                }, {
                    source: function(query, process) {
                        $.get('@Url.Action("Search")', { query: encodeURI(query) }, function(data) {
                            process(data);
                        });
                    },
                    displayKey: "Name",
                    templates: {
                        empty: [
                            '<div class="empty-message">',
                            'Sorry! We could not find any title',
                            '</div>'
                        ].join('\n'),
                        suggestion: function(data) {
                            return '<p><a href="/title/details/' + data.Id + '"><strong>' + data.Name + '</strong>  (' + data.ReleaseYear + ')</a></p>';
                        }
                    }
                }
            );
        });
    </script>
}
